# Fedora Kickstart file for automated installation
# Documentation: https://docs.fedoraproject.org/en-US/fedora/latest/install-guide/appendixes/Kickstart_Syntax_Reference/

# Use text mode installation
text

# Don't run the Setup Agent on first boot
firstboot --disable

# System language
lang en_US.UTF-8

# Keyboard layout
keyboard us

# Network configuration
network --bootproto=dhcp --device=link --activate --onboot=yes --hostname=fedora

# Root password (will be changed by Packer)
rootpw --plaintext packer

# System timezone
timezone UTC --utc

# System bootloader configuration
bootloader --location=mbr --boot-drive=sda

# Partition clearing information
clearpart --all --initlabel --drives=sda

# Disk partitioning information
part /boot --fstype=ext4 --size=1024 --ondisk=sda
part swap --fstype=swap --size=2048 --ondisk=sda
part / --fstype=ext4 --size=1 --grow --ondisk=sda

# SELinux configuration
selinux --enforcing

# Firewall configuration
firewall --enabled --ssh

# Do not configure the X Window System
skipx

# Package selection
%packages --ignoremissing
@^server-product-environment
@core
@standard
openssh-server
openssh-clients
sudo
wget
curl
vim
git
qemu-guest-agent
cloud-init
cloud-utils-growpart
NetworkManager
-firewalld
%end

# Post-installation script
%post --log=/root/ks-post.log

# Enable SSH
systemctl enable sshd

# Enable QEMU Guest Agent
systemctl enable qemu-guest-agent

# Enable cloud-init
systemctl enable cloud-init
systemctl enable cloud-init-local
systemctl enable cloud-config
systemctl enable cloud-final

# Configure SSH to allow root login
sed -i 's/^#PermitRootLogin.*/PermitRootLogin yes/' /etc/ssh/sshd_config

# Add wheel group to sudoers without password
echo '%wheel ALL=(ALL) NOPASSWD: ALL' >> /etc/sudoers.d/wheel
chmod 0440 /etc/sudoers.d/wheel

# Disable kdump
systemctl disable kdump

# Update all packages
dnf update -y

%end

# Reboot after installation
reboot --eject
