############################################
### Admin block
############################################
tls_bool = true
proxmox_node = "pve"
vm_id = 700
template_name = "debian-dataeng"
template_name_suffix = "-12"

############################################
### boot_iso block
############################################
iso_type = "scsi"
# Debian 12 (Bookworm) ISO - replace with your ISO location
# Download from: https://www.debian.org/CD/netinst/
iso_file = "local:iso/debian-12.5.0-amd64-netinst.iso"
iso_checksum = "sha256:your-iso-checksum-here"
iso_unmount = true

############################################
### Hardwares block
############################################
scsi_controller = "virtio-scsi-single"
os = "l26"
machine = ""
bios = ""
qemu_agent = true
cloud_init = true
cloud_init_storage_pool = "local-lvm"
cores = 4
sockets = 1
memory = 8192
cpu_type = "host"


############################################
### network_adapters block
############################################
network_bridge = "vmbr0"
network_model = "virtio"


############################################
### disks block
############################################
disk_type = "scsi"
disk_size = "50G"
disk_format = "raw"
storage_pool = "local-lvm"
io_thread = true

############################################
### Packer SSH block
############################################
http_directory = "http"
ssh_username = "root"
ssh_password = "packer"
ssh_timeout = "30m"
ssh_port = 22


############################################
### Boot block
############################################
boot_wait = "10s"
preseed_url = "http://{{ .HTTPIP }}:{{ .HTTPPort }}/preseed.cfg"
