############################################
### Admin block
############################################
tls_bool = true
proxmox_node = "pve"
vm_id = 800
template_name = "ubuntu-dataeng"
template_name_suffix = "-22.04-lts"

############################################
### boot_iso block
############################################
iso_type = "scsi"
# Ubuntu 22.04 LTS (Jammy Jellyfish) - replace with your ISO location
iso_file = "local:iso/ubuntu-22.04.3-live-server-amd64.iso"
iso_checksum = "sha256:a4acfda10b18da50e2ec50ccaf860d7f20b389df8765611142305c0e911d16fd"
iso_unmount = true

############################################
### Hardwares block
############################################
scsi_controller = "virtio-scsi-single"
os = "l26"
machine = ""
bios = ""
qemu_agent = true
cloud_init = true
cloud_init_storage_pool = "local-lvm"
cores = 4
sockets = 1
memory = 8192
cpu_type = "host"


############################################
### network_adapters block
############################################
network_bridge = "vmbr1"
network_model = "virtio"
vlan_tag = "lab"
firewall = false


############################################
### disks block
############################################
disk_type = "scsi"
disk_size = "50G"
disk_format = "raw"
storage_pool = "local-lvm"
io_thread = true

############################################
### Packer SSH block
############################################
http_directory = "http"
ssh_username = "root"
ssh_password = "packer"
ssh_timeout = "20m"
ssh_port = 22


############################################
### Boot block
############################################
boot_wait = "30s"
preseed_url = "http://{{ .HTTPIP }}:{{ .HTTPPort }}/preseed.cfg"