export PROXMOX_URL='https://local.proxmox/api2/json'
export PROXMOX_USERNAME='user@node!key'
export PROXMOX_TOKEN='xxxxxx-xxxx-xxxx-xxxx-xxxxxxxxx'
export PM_API_TOKEN_ID="$PROXMOX_USERNAME"
export PM_API_TOKEN_SECRET="$PROXMOX_TOKEN"